
header img{
    width: 1520px;
    height:290px;
 
}

nav>ul>li{
 padding:45px;
 height: 3px
   
}

#acc, #sais, #perso, #ba, #bout{
padding-top: 10px;
padding-bottom: 30px;
}

#ba{
    flex
}

nav>ul{
    display:flex;
    margin-right: 60px;
    margin-left: 60px;
     
}

#img1{
    width: 1000px;
    padding-right: 70px;
    padding-left: 70px;
   
    
}

#perso a{
    color:black;
    text-decoration: none;
   
}